<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.productManagement.mapper.SheepImmunizationMapper">
    
    <resultMap type="SheepImmunization" id="SheepImmunizationResult">
        <result property="id"    column="id"    />
        <result property="inoculationdate"    column="inoculationdate"    />
        <result property="company"    column="company"    />
        <result property="region"    column="region"    />
        <result property="buildingnum"    column="buildingnum"    />
        <result property="columnnum"    column="columnnum"    />
        <result property="eartagid"    column="eartagid"    />
        <result property="vaccine"    column="vaccine"    />
        <result property="method"    column="method"    />
        <result property="dose"    column="dose"    />
        <result property="immunitydate"    column="immunitydate"    />
        <result property="reason"    column="reason"    />
        <result property="nonimmunity"    column="nonimmunity"    />
        <result property="startdate"    column="startdate"    />
        <result property="enddate"    column="enddate"    />
        <result property="bak1"    column="bak1"    />
        <result property="bak2"    column="bak2"    />
        <result property="bak3"    column="bak3"    />
        <result property="remarks"    column="remarks"    />
        <result property="video"    column="video"    />
        <result property="createBy"    column="create_by"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateDate"    column="update_date"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectSheepImmunizationVo">
        select id, inoculationdate, company, region, buildingnum, columnnum, eartagid, vaccine, method, dose, immunitydate, reason, nonimmunity, startdate, enddate, bak1, bak2, bak3, remarks, video, create_by, create_date, update_by, update_date, del_flag from sheep_immunization
    </sql>

    <select id="selectSheepImmunizationList" parameterType="SheepImmunization" resultMap="SheepImmunizationResult">
        <include refid="selectSheepImmunizationVo"/>
        <where>  
            <if test="inoculationdate != null "> and inoculationdate = #{inoculationdate}</if>
            <if test="region != null  and region != ''"> and region = #{region}</if>
            <if test="buildingnum != null  and buildingnum != ''"> and buildingnum = #{buildingnum}</if>
            <if test="columnnum != null  and columnnum != ''"> and columnnum = #{columnnum}</if>
            <if test="eartagid != null  and eartagid != ''"> and eartagid = #{eartagid}</if>
            <if test="params.beginStartdate != null and params.beginStartdate != '' and params.endStartdate != null and params.endStartdate != ''"> and startdate between #{params.beginStartdate} and #{params.endStartdate}</if>
            <if test="params.beginEnddate != null and params.beginEnddate != '' and params.endEnddate != null and params.endEnddate != ''"> and enddate between #{params.beginEnddate} and #{params.endEnddate}</if>
        </where>
    </select>
    
    <select id="selectSheepImmunizationById" parameterType="Long" resultMap="SheepImmunizationResult">
        <include refid="selectSheepImmunizationVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSheepImmunization" parameterType="SheepImmunization" useGeneratedKeys="true" keyProperty="id">
        insert into sheep_immunization
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="inoculationdate != null">inoculationdate,</if>
            <if test="company != null">company,</if>
            <if test="region != null">region,</if>
            <if test="buildingnum != null">buildingnum,</if>
            <if test="columnnum != null">columnnum,</if>
            <if test="eartagid != null">eartagid,</if>
            <if test="vaccine != null">vaccine,</if>
            <if test="method != null">method,</if>
            <if test="dose != null">dose,</if>
            <if test="immunitydate != null">immunitydate,</if>
            <if test="reason != null">reason,</if>
            <if test="nonimmunity != null">nonimmunity,</if>
            <if test="startdate != null">startdate,</if>
            <if test="enddate != null">enddate,</if>
            <if test="bak1 != null">bak1,</if>
            <if test="bak2 != null">bak2,</if>
            <if test="bak3 != null">bak3,</if>
            <if test="remarks != null">remarks,</if>
            <if test="video != null">video,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateDate != null">update_date,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="inoculationdate != null">#{inoculationdate},</if>
            <if test="company != null">#{company},</if>
            <if test="region != null">#{region},</if>
            <if test="buildingnum != null">#{buildingnum},</if>
            <if test="columnnum != null">#{columnnum},</if>
            <if test="eartagid != null">#{eartagid},</if>
            <if test="vaccine != null">#{vaccine},</if>
            <if test="method != null">#{method},</if>
            <if test="dose != null">#{dose},</if>
            <if test="immunitydate != null">#{immunitydate},</if>
            <if test="reason != null">#{reason},</if>
            <if test="nonimmunity != null">#{nonimmunity},</if>
            <if test="startdate != null">#{startdate},</if>
            <if test="enddate != null">#{enddate},</if>
            <if test="bak1 != null">#{bak1},</if>
            <if test="bak2 != null">#{bak2},</if>
            <if test="bak3 != null">#{bak3},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="video != null">#{video},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateDate != null">#{updateDate},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateSheepImmunization" parameterType="SheepImmunization">
        update sheep_immunization
        <trim prefix="SET" suffixOverrides=",">
            <if test="inoculationdate != null">inoculationdate = #{inoculationdate},</if>
            <if test="company != null">company = #{company},</if>
            <if test="region != null">region = #{region},</if>
            <if test="buildingnum != null">buildingnum = #{buildingnum},</if>
            <if test="columnnum != null">columnnum = #{columnnum},</if>
            <if test="eartagid != null">eartagid = #{eartagid},</if>
            <if test="vaccine != null">vaccine = #{vaccine},</if>
            <if test="method != null">method = #{method},</if>
            <if test="dose != null">dose = #{dose},</if>
            <if test="immunitydate != null">immunitydate = #{immunitydate},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="nonimmunity != null">nonimmunity = #{nonimmunity},</if>
            <if test="startdate != null">startdate = #{startdate},</if>
            <if test="enddate != null">enddate = #{enddate},</if>
            <if test="bak1 != null">bak1 = #{bak1},</if>
            <if test="bak2 != null">bak2 = #{bak2},</if>
            <if test="bak3 != null">bak3 = #{bak3},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="video != null">video = #{video},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSheepImmunizationById" parameterType="Long">
        delete from sheep_immunization where id = #{id}
    </delete>

    <delete id="deleteSheepImmunizationByIds" parameterType="String">
        delete from sheep_immunization where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>