<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.test.mapper.MyTestMapper">

    <resultMap type="MyTest" id="MyTestResult">
        <result property="id"    column="id"    />
        <result property="username"    column="userName"    />
        <result property="phonenum"    column="phoneNum"    />
    </resultMap>

    <sql id="selectMyTestVo">
        select id, userName, phoneNum from my_test
    </sql>

    <select id="selectMyTestList" parameterType="MyTest" resultMap="MyTestResult">
        <include refid="selectMyTestVo"/>
        <where>
            <if test="username != null  and username != ''"> and userName = #{username}</if>
            <if test="phonenum != null  and phonenum != ''"> and phoneNum = #{phonenum}</if>
        </where>
    </select>

    <select id="selectMyTestById" parameterType="Long" resultMap="MyTestResult">
        <include refid="selectMyTestVo"/>
        where id = #{id}
    </select>

    <insert id="insertMyTest" parameterType="MyTest" useGeneratedKeys="true" keyProperty="id">
        insert into my_test
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">userName,</if>
            <if test="phonenum != null">phoneNum,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">#{username},</if>
            <if test="phonenum != null">#{phonenum},</if>
         </trim>
    </insert>

    <update id="updateMyTest" parameterType="MyTest">
        update my_test
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null">userName = #{username},</if>
            <if test="phonenum != null">phoneNum = #{phonenum},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMyTestById" parameterType="Long">
        delete from my_test where id = #{id}
    </delete>

    <delete id="deleteMyTestByIds" parameterType="String">
        delete from my_test where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
