<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.qmy.mapper.QmyLeft2Mapper">
    
    <resultMap type="QmyLeft2" id="QmyLeft2Result">
        <result property="id"    column="id"    />
        <result property="sheeptype"    column="sheepType"    />
        <result property="sheepnum"    column="sheepNum"    />
    </resultMap>

    <sql id="selectQmyLeft2Vo">
        select id, sheepType, sheepNum from qmy_left_2
    </sql>

    <select id="selectQmyLeft2List" parameterType="QmyLeft2" resultMap="QmyLeft2Result">
        <include refid="selectQmyLeft2Vo"/>
        <where>  
            <if test="sheeptype != null  and sheeptype != ''"> and sheepType = #{sheeptype}</if>
            <if test="sheepnum != null "> and sheepNum = #{sheepnum}</if>
        </where>
    </select>
    
    <select id="selectQmyLeft2ById" parameterType="Long" resultMap="QmyLeft2Result">
        <include refid="selectQmyLeft2Vo"/>
        where id = #{id}
    </select>
        
    <insert id="insertQmyLeft2" parameterType="QmyLeft2" useGeneratedKeys="true" keyProperty="id">
        insert into qmy_left_2
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sheeptype != null">sheepType,</if>
            <if test="sheepnum != null">sheepNum,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sheeptype != null">#{sheeptype},</if>
            <if test="sheepnum != null">#{sheepnum},</if>
         </trim>
    </insert>

    <update id="updateQmyLeft2" parameterType="QmyLeft2">
        update qmy_left_2
        <trim prefix="SET" suffixOverrides=",">
            <if test="sheeptype != null">sheepType = #{sheeptype},</if>
            <if test="sheepnum != null">sheepNum = #{sheepnum},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteQmyLeft2ById" parameterType="Long">
        delete from qmy_left_2 where id = #{id}
    </delete>

    <delete id="deleteQmyLeft2ByIds" parameterType="String">
        delete from qmy_left_2 where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>